
    {% extends "layout.html" %}
        {% block title %}
        About Us
        {% endblock %}
        {% block content %}
        <BR><BR><BR><BR>
<div class="card">
   <div class="card-header text-left"> About Us </div>
    <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>A bunch of people with intent to learn something during this quarantine and thats how the idea started.</p>
      <footer class="blockquote-footer"> <cite title="Source Title">Happy Coding!!!</cite></footer>
    </blockquote>
  </div>
</div>

        {% endblock %}


