
    {% extends "layout.html" %}
        {% block title %}
        About Us
        {% endblock %}
        {% block content %}
        <BR><BR>

        <div class="jumbotron">
  <p class="lead">
    <h1 class="mb-2 pt-0">{Hello, world}</h1>
  </p>
  <p class="lead">A bunch of people with intent to learn something during this quarantine and thats how the idea started.</p>
  <hr class="my-4">
  <p>BuildToLearn - a perfect platform to buzz and innovate, to code and recode, to drag and drop our ideas, to experience a better learning experience.
          We are a group of inquisitive folks developing projects that help society and aids us in honing our coding skills effortlessly. Being the guiding 
          mentor as well as the driving mentee enthralls us with amazing results. Thinking to be a part of this quarantine hobby?? We welcome all zealous brains to join hands in exploring tech. </p>
  <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
 <p class="lead">
    <h1 class="mb-3 pt-4">We <i class="fa fa-fw fa-heart d-inline text-danger"></i> Ideas</h1>
  </p>
  <p class="lead">
  <h2 class="mb-1 pt-2">The Team</h2>  </p>
  <small class="text-muted">
    {{ teamlist | join(' | ') }}
  </small> 
  
</div>
 {% endblock %}


