  {% extends "layout.html" %}
        {% block title %}
       Chennai Zonal Stats

        {% endblock %}
        {% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="{{ url_for('static', filename='js/genericchart.js') }}"></script>
<h3 class="display-4 text-center">Chennai</h3>
<div class="row align-items-center justify-content-center">
<small class="text-muted text-center">Chennai Street wise report available <a href="{{ url_for('chennaistreetwise') }}">here</a></small>
</div>
<div class="row align-items-center justify-content-center">
<p><small class="text-muted text-center">Cases as of {{formatteddate}}</small></p>
</div>
<div class="table-responsive">    
 <table class="table table-striped table-sm  text-md-center text-lg-center">
  <thead class="thead-light">
    <tr>
      <th scope="col">ZNo</th>
      <th scope="col" >ZoneName</th>
      <th scope="col">Confirm</th>
      <th scope="col">Active</th>
      <th scope="col">Cured</th>
      <th scope="col">Deaths</th>
    </tr>
  </thead>
  <tbody>
   
     {% for zones in chennaidata %}
    
      <tr>
      <td>{{zones['zoneNo']}}</td>
      <th scope="row">{{(zones['zoneName'] | capitalize) }}</th>
      <td class="text-secondary">{{zones['confirmedCases'] | comafy }}</td>
      <td class=""><b>{{zones['hospitalized'] | comafy }}</b></td>
      <td class="text-success"><b>{{zones['recovered'] | comafy }}</b></td>
      <td class="text-danger"><b>{{zones['deceased'] | comafy }}</b></td>
      </tr>
       
     {%- endfor %}
  </div>
  </tbody>


</table>

<hr>

    <button type="active" class="btn btn-info btn-sm" onclick="myFunction('active')">Active</button>
    <button type="recovered" class="btn btn-success btn-sm" onclick="myFunction('recovered')">Recovered</button>
    <button type="deceased" class="btn btn-danger btn-sm" onclick="myFunction('deceased')">Deceased</button>


    <canvas id="barChart"></canvas>

    <div class="row align-items-center justify-content-center"> Last 20 days Trends in Chennai Zones 
    <select id="selectNumber" onchange="functionToTriggerClick(this.value)">
            <option> {{zones_list[0] | safe}}</option>
      </select>
</div>
    <canvas id="LineChartSeries"  width="600" height="400"></canvas>
     <script>
     //      var colours =['#00429d', '#325da9', '#4e78b5', '#6694c1', '#80b1cc', '#9dced6', '#c0eade', '#ffffe0', '#ffdac4', '#ffb3a7', '#fb8a8c', '#eb6574', '#d5405e', '#b81b4a', '#93003a']

      var colours =['#4e4a7f', '#555887', '#5d668f', '#657396', '#6e819d', '#798fa3', '#859da7', '#e59348', '#97e5c3', '#b8cab0', '#ceaf9d', '#db938c', '#e3767c', '#e3586f', '#cf4969','#944ee6']
      // get bar chart canvas
      var mychart = document.getElementById("barChart").getContext("2d");
       var myChart = new Chart(mychart,{
          type: 'bar',
          data:{ labels: {{zones_list | safe}},
          datasets: [{ label: 'No of Active Cases',data: {{active_list}},
          backgroundColor: colours
          
            }]
          },

    options: {
        legend: {
            display: false,
            labels: {
                fontColor: 'rgb(255, 99, 132)'
            },
        
        },title: {
            display: true,
            text: 'Chennai Active Cases'
        },
        responsive:true,
        scales: {
            xAxes: [{
               gridLines: {
                  display: false
               }
            }],
            yAxes: [{
               gridLines: {
                  display: false
               }
            }]
       }
    }
    });

    function myFunction(flag) {
	//		var zero = Math.random() < 0.2 ? true : false;
      var datasetA;
      if (flag == 'active') {
        //  block of code to be executed if condition1 is true
         datasetA = {{active_list}}
      } else if (flag == 'recovered') {
        //  block of code to be executed if the condition1 is false and condition2 is true
        datasetA = {{recovered_list}}
      } else {
        datasetA = {{deceased_list}}
      }
        var case_type = flag.charAt(0).toUpperCase() + flag.slice(1)
		    myChart.config.data.datasets[0].data = datasetA;
        myChart.config.data.datasets[0].label = case_type + " cases"
        myChart.config.options.title.text = "Chennai "+ case_type +" Cases"
				myChart.update();
		};

  var ListofZonedata = {{fivedaysstat | safe}}
  var select = document.getElementById("selectNumber"); 
  var ZoneSelected = select.options[select.selectedIndex].value.toUpperCase();
  var test = ListofZonedata[ZoneSelected];
  assignvalues();
  plotChartSeries();

  var options = {{zones_list | safe}}; 

for(var i = 1; i < options.length; i++) {
    var opt = options[i];
    var el = document.createElement("option");
    el.textContent = opt;
    el.value = opt;
    select.appendChild(el);
}


function functionToTriggerClick(data) {
     if(data != ''){
        test = ListofZonedata[data.toUpperCase()];
        UpdateChart(data);
        }
    }  


    </script>
<BR>
    <p class="bg-light text-muted">Stay home, stay safe – the only cure found till now for coronavirus.</p>
     {% endblock %}