  {% extends "layout.html" %}
        {% block title %}
       Chennai Zonal Stats

        {% endblock %}
        {% block content %}

<h3 class="display-4">Chennai</h3>
<small class="text-muted">Cases as of {{formatteddate}}</small>
<div class="table-responsive">    
 <table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">ZNo</th>
      <th scope="col" >ZoneName</th>
      <th scope="col">Confirm</th>
      <th scope="col">Active</th>
      <th scope="col">Cured</th>
      <th scope="col">Deaths</th>
    </tr>
  </thead>
  <tbody>
   
     {% for zones in chennaidata %}
      {% if loop.index <=15 %}
      <tr>
      <td>{{zones['zoneNo']}}</td>
      <th scope="row">{{(zones['zoneName']) }}</th>
      <td class="text-secondary">{{zones['confirmedCases'] | comafy }}</td>
      <td class=""><b>{{zones['hospitalized'] | comafy }}</b></td>
      <td class="text-success"><b>{{zones['recovered'] | comafy }}</b></td>
      <td class="text-danger"><b>{{zones['deceased'] | comafy }}</b></td>
      </tr>
      {% endif %}
     {%- endfor %}
  </div>
  </tbody>


</table>

<p class="bg-info">Stay home, stay safe – the only medicine found till now for coronavirus.</p>
     {% endblock %}