{% extends "layout.html" %}
        {% block title %}
        Chennai corona affected street-wise 
        {% endblock %}
        {% block content %}
        
<h5 class="display-6 mt-1 text-center">Chennai Streets reporting with Corona Positive Cases(06-08-2020)</h5>

<div class="alert alert-warning text-center" role="alert">
 <small>Data contains for Street level reporting of corona positive cases in chennai shared by Chennai Corporation, use the search below to instantly search your area</small>
</div>
   
<small class="text-muted mt-1 text-center">Chennai Zonal Stats <a href="{{ url_for('chennaizonalreport') }}">report</a></small>

<div class="input-group input-group-sm mt-1 mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
  </div>
  <input type="text" class="form-control light-table-filter" aria-label="Search"  data-table="order-table" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="table-responsive">    
 <table class="table table-striped order-table table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Area</th>
      <th scope="col">Location</th>
      <th scope="col">Street</th>
    </tr>
  </thead>
  <tbody>
  {% for street in chennailist  %}
    <tr>
      <td>{{street['Area'] | capitalize}}</td>
      <td>{{street['Location'] | capitalize}}</td>
      <td>{{street['Street'] | capitalize}}</td>
    </tr>
     {% endfor %}
   </tbody>
   </div>
</table>

<div class="alert alert-info" role="alert">
  <small>Data extracted from <a href="https://www.chennaicorporation.gov.in/images/POSITIVECASES.pdf" target="_blank" rel="noopener noreferrer"> Greater Chennai Corporation </a> Page 
</div>

{% endblock %}