    {% extends "layout.html" %}
        {% block title %}
        Enroll
        {% endblock %}
        {% block content %}
        <BR><BR><BR>
        <div class="jumbotron text-center">
  <h1 class="display-4">Join</h1>
  <p class="lead">If you want to learn and contribute, please Join our <a href = "https://discord.gg/24YmeCM" target="_blank" rel="noopener noreferrer">Discord Server </a></p>
     <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
</div>
        {% endblock %}