<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css')}}" />
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/css/sortable-theme-bootstrap.min.css" integrity="sha256-S9t86HqhPL8nNR85dIjDQCJMPd9RULmRAub6xBksk9M=" crossorigin="anonymous" />-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/css/sortable-theme-bootstrap.min.css" integrity="sha512-l4chbxj3b7jYgOu1K4jjYscdqLL9zrVYnqMJcKTjpePcj5yc/7QWFBP9x/mp2IcX+ilWi+Tr915vLC4D7RxCtg==" crossorigin="anonymous" />

   </head>

   <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top" >
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('covidHome') }}">Build2Learn</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('covidHome') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('covidstat') }}">Chennai Covid 19</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">Enroll</a>
          </li>
         </div>
        </ul>
      </div>
    </div>
  </nav>

   <div class="container">

     <div class="dropdown text-center">
			<p class="text-center pt-3 mb-0"><small class="text-muted">Currently in:</small></p>
			<a class="mb-0 p-0 dropdown-btn text-primary" data-toggle='dropdown'><i class="material-icons">expand_more</i></a>
			<div class="dropdown-menu scrollable-menu dd-h">
				<a class="dropdown-item" href="?state=Tamil Nadu">Tamil Nadu</a>
				<div class="dropdown-divider"></div>
			    {% for drop_state in Statelist %}
			    <a class="dropdown-item" href="?state={{ drop_state }}">{{ drop_state }}</a>
			    {% endfor %}
			</div>
		</div>
 			
  		<!-- current country -->

<h1 class="text-center m-0">{{State}}</h1>

 <!--   <div class="row h-2">
   <div class="col-sm-12 my-auto">
     <div class="card mb-2">Active {{totalstats['active']}} || Confirmed {{totalstats['confirmed']}} ||
     Deceased {{totalstats['deceased']}}  || Recovered {{totalstats['recovered']}}</div>
     </div>
</div> -->

<div class="container">
<div class="row">
<div class="col">
<div class="table-responsive">    
 <table class="table table-sm">
    <tbody>
     <tr class="bg-light p-0 text-left">
        <th>Active</th>
        <th>Confirm</th>
        <th>Deceased</th>
        <th>Recovered</th>
      </tr>
      <tr class="text-center">
        <td class="bg-primary"><b>{{totalstats['active']}}<b></td>
        <td class="bg-warning">
         {% if totalstats['deltaconfirmed'] > 0 %}
      <small>[+{{totalstats['deltaconfirmed']}}]</small> 
      <b> {{totalstats['confirmed']}} </b> 
    {% else %}
      <b> {{totalstats['confirmed']}} </b>
    {% endif %}
        </td>
        <td class="bg-danger"> {% if totalstats['deltadeceased'] > 0 %}
        <small>[+{{totalstats['deltadeceased']}}]  </small>
    <b> {{totalstats['deceased']}} </b> 
      {% else %}
      <b>  {{totalstats['deceased']}} </b>
      {% endif %}</td>
     
    <td class="bg-success">
        {% if totalstats['deltarecovered'] > 0 %}
        <small> [+{{totalstats['deltarecovered']}}]</small>
    <b> {{totalstats['recovered']}} </b> </div>
       {% else %}
      <b>    {{totalstats['recovered']}} </b></div>
{% endif %}
</td>
      </tr>
      </tbody>
  </table>
 </div>
  </div>
</div>
</div>


{% if (totalstats['deltaconfirmed'] != 0 or totalstats['deltadeceased'] != 0 or totalstats['deltarecovered'] != 0) %}
  <div class="alert alert-success text-center">
  <strong><i class="fas fa-shield-virus"></i> New Cases!  </strong> There are 
  {% if totalstats['deltaconfirmed'] %}
  <b> {{totalstats['deltaconfirmed'] }} </b> confirmed 
  {% endif %}
    {% if totalstats['deltadeceased'] == 1 %}
    <b>{{totalstats['deltadeceased'] }}</b> death
    {% elif totalstats['deltadeceased'] > 1%}
     <b>{{totalstats['deltadeceased'] }}</b> deaths 
  {% endif %}
  {% if totalstats['deltarecovered'] %}
    <b>{{totalstats['deltarecovered']}}</b> recovered.
    {% endif %}
</div>
{% endif %}



<!--
<div class="row container"> 
            <div class="col align-center"> 
  
             
                <div class="row justify-content-md-center"> 
                    <div class="col-md-2 col-xs-2 col-sm-3 m-1" 
                         style="background-color: yellow;"> 
                        <p class="text-center p-2">Active :  {{totalstats['active']}} </p> 
                    </div> 
                    <div class="col-md-2 col-xs-2 col-sm-3 m-1" 
                         style="background-color: yellowgreen;"> 
                        <p class="text-center p-2">Confirmed :  {{totalstats['confirmed']}} </p> 
                    </div>
                    <div class="col-md-2 col-xs-2 col-sm-3 m-1" 
                         style="background-color: yellowgreen;"> 
                        <p class="text-center p-2">Deceased :  {{totalstats['deceased']}} </p> 
                    </div> 
                    <div class="col-md-2 col-xs-2 col-sm-3 m-1" 
                         style="background-color: yellowgreen;"> 
                        <p class="text-center p-2">Recovered :  {{totalstats['recovered']}} </p> 
                    </div>  
                </div> 
            </div> 
          
        </div> 


<div class="container mb-2">
<div class="row">
  <div class="col-sm ">
     <div class="card border-primary text-center">
      <h6 class="card-header p-0">Active</h6>
    <div class="stats"> <b>  {{totalstats['active']}}</b> </div>
    <div class="card-footer bg-primary"></div>
  </div> 
  
  </div>
  
  <div class="col-sm">
    <div class="card border-warning">
      <h6 class="card-header p-0">Confirm</h6>
{% if totalstats['deltaconfirmed'] > 0 %}
      <div class="stats"><small>[ +{{totalstats['deltaconfirmed']}}] </small> <b>  {{totalstats['confirmed']}} </b> </div>
{% else %}
     <div class="stats"> <b>    {{totalstats['confirmed']}} </b></div>
{% endif %}
<div class="card-footer bg-warning"> </div>
  </div>
  </div>

  <div class="col-sm">
    <div class="card border-danger">
      <h6 class="card-header p-0">Deaths</h6>
      {% if totalstats['deltadeceased'] > 0 %}
        <div class="stats"><small>[+{{totalstats['deltadeceased']}}]  </small>
        <b> {{totalstats['deceased']}} </b> </div>
      {% else %}
        <div class="stats"><b>    {{totalstats['deceased']}} </b></div>
      {% endif %}
      <div class="card-footer bg-danger"></div>
    </div>
  </div>
  
  <div class="col-sm">
    <div class="card border-success">
      <h6 class="card-header p-0">Cured</h6>
       {% if totalstats['deltarecovered'] > 0 %}
        <div class="stats"><small> [+{{totalstats['deltarecovered']}}] </small>
            <b> {{totalstats['recovered']}} </b> </div>
       {% else %}
        <div class="stats"> <b>    {{totalstats['recovered']}} </b></div>
      {% endif %}
      <div class="card-footer bg-success"></div></div>
    </div>
  </div>
</div>

-->

      
 
   <!-- <p><small><i class="material-icons">arrow_upward</i>{{totalstats['deltaconfirmed']}}</small></p> -->

    

  


  
      

 





<div class="container text-center">
<div class="table-responsive">  
<table class="js-sort-table table table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="js-sort-string">District</th>
      <th class="js-sort-number" scope="col">Active</th>
      <th class="" scope="col">Confirmed</th>
      <th class="" scope="col">Deceased</th>
      <th class="" scope="col">Recovered</th>
    </tr>
  </thead>
  <tbody>
  {% for District in Statedata %}
  {% set Dataval = District %}
      <tr>
      <th scope="row" class="text-sm-left">{{District}}</th>
      <td>{{Statedata[District]['active']}}</td>
      <td>{{Statedata[District]['confirmed']}}</td>
      <td class="text-danger">{{Statedata[District]['deceased']}}</td>
      <td class="text-success">{{Statedata[District]['recovered']}}</td>
       </tr>
     {% endfor %}

   </tbody>
 </table>
</div>
</div>
		<div class="alert alert-primary pb-0 align-left" role="alert">
		  <p><strong>Note: </strong>Recovered data is subject to further verification.</p>
		</div>
  </div>

<a href="">Test</a>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <!-- <script src="{{ url_for('static', filename='js/jquery.countup.js')}}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/js/sortable.min.js" integrity="sha256-gCtdA1cLK2EhQZCMhhvGzUsWM/fsxtJ2IImUJ+4UOP8=" crossorigin="anonymous"></script>
    <script  src="{{ url_for('static', filename='js/sort-table.js')}}" />
  </body>
</html>