 {% extends "layout.html" %}
 {% block title %}
     Testing Card Layout
        {% endblock %}
        {% block content %}

        <br><br>


<div class="container p-5" >
 <div class="row justify-content-md-center" >
  <div class="column mr-5">
    <div class="card">
      <h4>Card 1</h4>
      <p>Some text</p>

    </div>
  </div>

  <div class="column mr-5">
    <div class="card">
      <h4>Card 2</h4>
      <p>Some text</p>

    </div>
  </div>
  
  <div class="column mr-5">
    <div class="card">
      <h4>Card 3</h4>
      <p>Some text</p>
     
    </div>
  </div>
  
  <div class="column mr-5">
    <div class="card">
      <h4>Card h4</h4>
      <p>Some text</p>
  
    </div>
  </div>
</div>
</div>

        {% endblock %}