<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="BuildNLearn Team" />
  	<meta name="keywords" content="Corona, Tamilnadu, Tracker, Covid-19, Coronavirus, Stats, covid19india,covid19tamilnadu, chennai, tamil, Covid19chennai, Dashboard, BuildNLearn, python, contribute">
     <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest')}}">
    <meta
      name="description"
      content="Page developed during Covid19 times, Opensourced Page(Source code in github) if you are willing to join & Contribute. please let us know"
    />
        <title>{% block title %}{% endblock %}</title>
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9BNGLTVM20"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-9BNGLTVM20');
</script>

<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5edcf4a639817f0012e02247&product=inline-share-buttons&cms=sop' async='async'></script>

     <!--   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" /> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css')}}" />
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script  src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <style>
    body {
        font-family: 'Ubuntu';
    }
  </style>
     <script src="{{ url_for('static', filename='js/search.js') }}"></script>
   <!-- <script src="{{ url_for('static', filename='index.js') }}"></script> -->
    </head>

    <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top" >
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('statewisereport') }}">BuildnLearn - Covid19</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('statewisereport') }}">India</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('covidHome') }}">District Wise Stats</a>
          </li>
         <!--  <li class="nav-item">
            <a class="nav-link" href="{{ url_for('chennaizonalreport') }}">Chennai Stats</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('countrywisereport') }}">Global Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('newspage') }}">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">Enroll</a>
          </li>
         </div>
        </ul>
      </div>
    </div>
  </nav>

   <!-- Page Content -->
  <div class="container-fluid">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
       {% block content %}
            {% endblock %}

</div>

<div class="col-sm-2"></div>
</div>

<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
</div>
</div>
</div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/js/sortable.min.js" integrity="sha256-gCtdA1cLK2EhQZCMhhvGzUsWM/fsxtJ2IImUJ+4UOP8=" crossorigin="anonymous"></script>-->
    </body>
<br>
<hr>
<div class="sharethis-inline-share-buttons"></div>
<br>
    	<footer style="container margin-top: 50px">
    <div class="text-center">
  <a href="https://github.com/imranakbarin/Build2Learn/" target="_blank"> <img src="https://img.shields.io/badge/Download-from%20github-blue"> </a> | <a href="https://www.python.org/" target="_blank"> <img src="https://img.shields.io/badge/Made%20with-Python-1f425f.svg"> </a>
    <p><small class="text-muted">Developed by BuildnLearn Community during the Quarantine time</p>
	   <p>    Data Sources & Thanks to <a href="https://api.covid19india.org/" target="_blank" rel="noopener noreferrer">Covid19India</a> | <a href="https://api.covid19api.com/summary" target="_blank" rel="noopener noreferrer">Global</a> | <a href="https://newsapi.org/" target="_blank" rel="noopener noreferrer">NewsApi</a> 
     | <a href="https://github.com/elseasama/covid19chennai" target="_blank" rel="noopener noreferrer">Chennai Stats</a></p>
    </small>
    </div>
  </footer>
</html>