{% extends "layout.html" %}
{% block content %}
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3></h3>
                <center>   
                    <img id="profile-img" class="rounded-circle profile-img-card" src="./static/image/Build2Learn.png" />                                           
                </center>
            </div>
            <div class="col-md-6 login-form-2">
                <h3>Sign In</h3>
                <form method="POST" action="">
                    {{form.hidden_tag()}}                        
                    <div class="form-group">   
                        {% if form.UserName.errors %}
                            {{ form.UserName(class="form-control is-invalid", placeholder='Enter User Name') }}
                            <div class="invalid-feedback">
                                {% for error in form.UserName.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.UserName(class='form-control', placeholder='Enter User Name') }}
                        {% endif %}                         
                    </div>
                    <div class="form-group">                           
                        {{ form.Password(class='form-control', placeholder='Enter User Password')}}         
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btnSubmit")}}                                                        
                    </div>
                    <div class="form-group">
                        <p> <a href="{{ url_for('Register') }}">Forget Password</a></p>
                        <p><a href="{{ url_for('Register') }}">Create New Account</a></p>
                    </div>                        
                </form>
                 <div class ="container">
      
  {%  with messages = get_flashed_messages() %}
 {% if messages %}
   <ul class =flashes>
   {% for message in messages %}
     <li>{{ message }}</li>
   {% endfor %}
   </ul>
 {% endif %}
{% endwith %}
     </div>
            </div>
        </div>
    </div>
{% endblock %}