  {% extends "layout.html" %}
        {% block title %}
        {{State}} Covid-19 India
        {% endblock %}
        {% block content %}

<!--<div>
<img src="{{ url_for('static', filename='images/india-flag-button-round-icon-64.png')}}" class ="img-fluid" alt="India Flag"> 
</div> -->
<h3 class="display-4 m-0">India</h3>



<!--Start Here-->
<div class="container">
<div class="row">
<div class="col">
<div class="table-responsive">    
 <table class="table table-sm">
    <tbody>
     <tr class="bg-light p-0 text-left">
        <th>Active</th>
        <th>Confirm</th>
        <th>Deceased</th>
        <th>Recovered</th>
      </tr>
      <tr class="text-center">
        <td class="bg-primary"><b>{{ statedatalist[0]['active'] | comafy}}<b></td>
        <td class="bg-warning">

      <b> {{statedatalist[0]['confirmed'] | comafy}} </b>
  
        </td>
        <td class="bg-danger">
      <b>  {{statedatalist[0]['deaths'] | comafy }} </b>
      </td>
     
    <td class="bg-success">
     
      <b>    {{statedatalist[0]['recovered'] | comafy }} </b></div>

</td>
      </tr>
      </tbody>
  </table>
 </div>
  </div>
</div>
</div>
<!--End Here-->


<table class="table table-striped table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">State</th>
      <th scope="col">Active</th>
      <th scope="col">Confirmed</th>
      <th scope="col">Deceased</th>
      <th scope="col">Recovered</th>
    </tr>
  </thead>
  <tbody>
  {% for state in statedatalist %}
    {% if state['statecode'] != 'TT'%}
      <tr>
      <th scope="row" class="text-left">{{state['state']}}</th>
      <td>{{state['active'] | comafy }}</td>
      <td>{{state['confirmed'] | comafy }}</td>
      <td class="text-danger">{{state['deaths'] | comafy }}</td>
      <td class="text-success">{{state['recovered'] | comafy }}</td>
       </tr>
       {%endif%}
     {% endfor %}

   </tbody>
 </table>


         {% endblock %}