      <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>© 2018</p>
            </footer>
        </div> 






<div class="card">
  <div class="card-body">
   <div class="col"> <p></p> </div>
    <div class="col">  <p></p></div>
    <div class="col"> <p></p> </div>
    <div class="col">  <p></p></div>
    <br>
    <br>
    <br>
           <form id ="form">
 <div class="row">
    <div class="col">
 <input type="text" name="currencytext"class="form-control" placeholder="Currency">
    </div>
    <div class="col">
       <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
  </div>
</form>
      <div id="result"></div>    
  </div>